<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded YouTube Video</title>
    <meta http-equiv="Permissions-Policy" content="...">
</head>
<body>
    <h1>Embedded YouTube Video</h1>
    <!-- Replace 'VIDEO_ID' with the actual ID of the YouTube video you want to embed -->
    <iframe id="video-frame" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>

    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const videoId = urlParams.get('videoId');
        const videoUrl = `http://www.youtube.com/embed/${videoId}?controls=0`;
        document.getElementById('video-frame').src = videoUrl;
    </script>
</body>
</html>
